/* General body styling */
body { margin: 0; font-family: sans-serif }

/* Container */
.container { max-width: 1500px; margin: 0 auto }

/* Header bar */
header { padding: 11px; background: #800000 }

/* Top bar */
header .topRow { width: 100%; height: 130px }

/* Divider between top and links */
header hr { border: 0; border-bottom: 2px solid white; border-radius: 2px; }

/* Links */
header .links .links-list { padding: 0; list-style: none; font-size: 20px; font-weight: bold }
header .links .links-list li { display: inline; padding-right: 32px }
header .links .links-list li a { color: #fff; text-decoration: none }

/* Footer */
footer { padding: 11px; background: #212121; color: #fff; font-weight: bold }