<div class="container gamesList" id="pc-games">
  <div class="heading">
    <span id="listTitle">PC Games</span>
    <span id="listSubtitle">r/PCMasterRace welcomes you.</span>
  </div>
  <div class="list">
    {{pcGames}}
  </div>
</div>