<div class="container gamesList" id="xbox-games">
  <div class="heading">
    <span id="listTitle">Xbox One Games</span>
    <span id="listSubtitle">Jump in.</span>
  </div>
  <div class="list">
    {{xboxGames}}
  </div>
</div>