<div class="container gamesList" id="ps4-games">
  <div class="heading">
    <span id="listTitle">PS4 Games</span>
    <span id="listSubtitle">For the players.</span>
  </div>
  <div class="list">
    {{ps4Games}}
  </div>
</div>