/* Global variables */
:root {
  --color-primary: #551a8b;
}

/* General body styling */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Container */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

/* Header bar */
header {
  padding: 11px;
  background: var(--color-primary);
}

/* Top bar */
header .topRow {
  width: 100%;
  height: 130px;
  display: flex;
  color: #fff;
}
header .topRow img {
  display: inline;
}
header .topRow .tagline {
  margin: auto 8px;
  font-size: 24px;
  font-weight: 300;
  border-left: 1px solid white;
  padding-left: 8px;
  height: 45px;
  padding-top: 19px;
  font-style: italic;
}

/* Divider between top and links */
header hr {
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 2px;
}

/* Links */
header .links {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
header .links .menu-icon {
  display: none;
}
header .links .links-list {
  padding: 0;
  list-style: none;
}
header .links .links-list li {
  display: inline;
  padding-right: 32px;
}
header .links .links-list li:last-child {
  padding-right: 0;
}
header .links .links-list a {
  color: #fff;
  text-decoration: none;
}
header .links .links-list a.search-link {
  float: right;
}

/* Footer */
footer {
  padding: 11px;
  background: #212121;
  color: #fff;
  font-weight: bold;
}

/* Games List Styling */
.gamesList {
  padding-top: 24px;
  padding-bottom: 24px;
}
.gamesList .heading {
  padding: 24px 32px;
  line-height: 32px;
}
.gamesList .heading #listTitle {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.gamesList .heading #listSubtitle {
  font-size: 20px;
}

.gamesList .list {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
}
.gamesList .game {
  display: block;
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 16px;
}
.gamesList .game .game--name {
  display: block;
  font-weight: bold;
}
.gamesList .game .game--publisher {
  display: block;
}
.gamesList .game .game--price {
  display: block;
}
.gamesList .game .button {
  margin: 0 auto;
  display: block;
  max-width: 100px;
  color: #fff;
  text-decoration: none;
  margin-top: 8px;
}

/* Reviews List */
.articleListing {
  background: #eaeaea;
  padding: 1em;
  border-radius: 16px;
}
.articleListing img {
  max-width: 200px;
}

/* Search Page */
.searchPage { padding-top: 16px }
.searchPage form {
  max-width: 350px;
  margin: 0 auto;
}
.searchPage form input {
  padding: 16px;
  margin-left: 11px
}
.searchPage form input[type="submit"] {
  border: none;
  color: white;
}

/* Individual Colours */
.gamesList#pc-games .heading {
  background: #333;
  color: #fff;
}
.gamesList#ps4-games .heading {
  background: #003791;
  color: #fff;
}
.gamesList#xbox-games .heading {
  background: #52b043;
  color: #fff;
}

/* Button Styling */
.button {
  min-width: 100px;
  padding: 16px;
  background: var(--color-primary);
  margin-top: 16px;
}

/* Page Title Styling */
.sm-title { position: relative; margin-top: 0 }
.sm-title span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
  background-color: white;
  padding-right: 5px;
}
.sm-title::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 13px;
  border-top: 2px solid #aaa;
  z-index: -1 !important;
}

/* Responsiveness */
/* Tablet */
@media screen and (max-width: 1440px) {
  .gamesList {
    padding-top: 0;
  }
  .searchPage {
    padding-top: 16px
  }
  .container { padding: 1em }
}
@media screen and (max-width: 900px) {
  header {
    padding: 16px;
  }
  header hr {
    display: none;
  }
  header .links {
    margin-top: 24px;
    margin-bottom: 11px;
  }
  header .links .links-list {
    overflow: scroll;
  }
  .gamesList .game {
    flex-basis: 33%;
  }
}
@media screen and (max-width: 780px) {
  header .topRow .tagline {
    border: none;
    margin: 17px auto;
  }
}

/* Large Phone */
@media screen and (max-width: 540px) {
  header .topRow .tagline {
    display: none;
  }
  .gamesList .game {
    flex-basis: 50%;
  }
}

/* Phone */
@media screen and (max-width: 450px) {
  header .topRow {
    display: block;
  }
  .gamesList .game {
    flex-basis: 100%;
  }
}